[Unit]
Description=Makima remapping daemon

[Service]
Type=simple
Restart=always
RestartSec=3
ExecStart=/usr/bin/makima
User=
Group=input

[Install]
WantedBy=default.target